/*Banner common*/
.banner {
    --clamp-width: 1920;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    /* на странице карточки баннер не должен быть привязан к --baner-height */
    /*height: var(--baner-height);*/
}
.banner_height-auto {
    height: auto;
}
.banner-bg-picture {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.banner-bg-picture:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.0);
    transition: background-color 0.3s ease;
}
.banner-bg-picture:after {
    content: '';
    position: absolute;
    height: 54%;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 100%);
}
.banner-bg-picture_only-img:after {
    display: none;
}
.banner:hover .banner-bg-picture:before {
    background-color: rgba(0,0,0, 0.1);
}
.banner-bg-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-bg-picture-img-center {
    object-position: center;
}
.banner-bg-picture-img-top {
    object-position: top;
}
.banner-bg-picture-img-right {
    object-position: right;
}
.banner-bg-picture-img-bottom {
    object-position: bottom;
}
.banner-bg-picture-img-left {
    object-position: left;
}
.banner-descriptor {
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-size: clamp(10px, calc(20/var(--clamp-width)*100vw), 20px);
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--color-light-1);
    position: absolute;
    top: var(--page-banner-padding-block);
    left: var(--page-banner-padding-inline);
}
.banner-title {
    line-height: 1;
    font-size: clamp(24px, calc(75/var(--clamp-width)*100vw), 75px);
    font-weight: 400;
    letter-spacing: -0.05em;
    color: var(--color-light-1);
    padding-right: 0.6em;
    position: absolute;
    right: var(--page-banner-padding-inline);
    left: var(--page-banner-padding-inline);
    bottom: var(--page-banner-padding-block);
}
.banner-title:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='36' viewBox='0 0 21 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4402 16.7489C20.6159 16.9004 20.7568 17.0883 20.8535 17.2996C20.9501 17.511 21.0002 17.7407 21.0002 17.9732C21.0002 18.2058 20.9501 18.4355 20.8535 18.6469C20.7568 18.8582 20.6159 19.046 20.4402 19.1976L0.813487 35.893C0.813487 35.9643 0.74238 36 0.595713 36C0.505089 35.9926 0.417512 35.9636 0.340234 35.9156C0.262956 35.8675 0.198192 35.8016 0.151269 35.7235C0.0823757 35.6628 0.0338625 35.5822 0.0123799 35.4928C-0.00910266 35.4033 -0.00251244 35.3094 0.0312601 35.2239L13.5602 18.087L0.0357089 0.722595C-0.0354022 0.575401 0.0357111 0.388064 0.315711 0.169503C0.595711 -0.0490569 0.760153 -0.0535173 0.813487 0.169503L20.4402 16.7489Z' fill='%23F9F4EC'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0.2em;
    right: 0;
    width: 0.4em;
    height: 0.4em;
}
.banner-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.banner-link__hidden-text {
    display: inline-block;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.banner-title_vertical-center {
    bottom: auto;
    text-align: center;
}
.grid-col-3 .banner-title {
    font-size: clamp(24px, calc(48/var(--clamp-width)*100vw), 48px);
    letter-spacing: -0.05em;
}
.grid-col-4 .banner-title {
    font-size: clamp(24px, calc(48/var(--clamp-width)*100vw), 48px);
    letter-spacing: -0.05em;
}
.banners-wrapper_margin-bottom {
    margin-bottom: clamp(28px, calc(90/var(--clamp-width)*100vw), 90px);
}
.banners-wrapper_margin-top {
    margin-top: clamp(28px, calc(90/var(--clamp-width)*100vw), 90px);
}
.banners-wrapper_margin-bottom.btn-m-margin {
    margin-bottom: clamp(28px, calc(50/var(--clamp-width)*100vw), 50px);
}
.banner-plus-button {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-main-bg);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(249,244,236, 0.2);
    transition: background-color .3s ease;
    position: absolute;
    bottom: 22px;
    right: 12px;
}
.banner-plus-button:hover {
    background-color: rgba(249,244,236, 0.4);
}
.banner-plus-button:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.29004 0.702637L5.29004 9.8764' stroke='white' stroke-linecap='round'/%3E%3Cpath d='M0.703125 5.28955L9.87689 5.28955' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 11px;
    height: 11px;
}
/*Banner common*/


/*Banner main*/
.main-page-top-banner {
    height: 93vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.main-page-top-banner .banner-bg-picture:before {
    content: '';
    position: absolute;
    height: calc(var(--header-height) + 30%);
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.2) 100%);
}
.main-page-top-banner-text-wrapper {
    position: absolute;
    bottom: clamp(66px, calc(78/var(--clamp-width)*100vw), 78px);
    text-align: center;
}
.main-page-top-banner-title {
    color: var(--color-light-1);
    font-style: italic;
    font-size: clamp(19px, calc(34/var(--clamp-width)*100vw), 34px);
    font-weight: 400;
    line-height: clamp(20px, calc(32/var(--clamp-width)*100vw), 32px);
    text-align: center;
    margin-bottom: clamp(18px, calc(42/var(--clamp-width)*100vw), 42px);
}
.main-page-top-banner-descriptor *,
.main-page-top-banner-descriptor {
    color: var(--color-light-1);
    font-size: clamp(16px, calc(20/var(--clamp-width)*100vw), 20px);
    align-items: center;
    line-height: clamp(16px, calc(24/var(--clamp-width)*100vw), 24px);
}
/*Banner main*/

/*Banner with links*/
.banner-with-links {
    height: 600px;
}
.banner-with-links:after {
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.4) 100%);
}
.banner-with-links picture {
    display: block;
    width: 100%;
    height: 100%;
}
.banner-with-links picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-with-links-title {
    line-height: 1;
    font-size: clamp(24px, calc(48/var(--clamp-width)*100vw), 48px);
    letter-spacing: -0.01em;
    color: var(--color-light-1);
    position: absolute;
    top: var(--page-banner-padding-block);
    left: var(--page-banner-padding-inline);
    z-index: 1;
}
.banner-links-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    right: var(--page-banner-padding-inline);
    bottom: 0;
    left: var(--page-banner-padding-inline);
    z-index: 1;
    padding-top: clamp(16px, calc(30/var(--clamp-width)*100vw), 30px);
    padding-bottom: clamp(28px, calc(40/var(--clamp-width)*100vw), 40px);
    border-top: 1.3px solid var(--color-light-1);
}
.banner-links-list-item {
    line-height: 1;
}
.banner-links-list-link {
    font-size: clamp(13px, calc(24/var(--clamp-width)*100vw), 24px);
    text-transform: uppercase;
    color: var(--color-light-1);
}
.banner-links-list-link:hover {
    color: var(--color-light-1);
}
/*Banner with links*/

/*Banner with text*/
.banner-with-text {
    padding: var(--page-banner-padding-block) var(--page-banner-padding-inline);
}
.banner-with-text_bg-color-light-blue {
    background-color: #ACCAE1;
}
.banner-with-text-wrapper {
    max-width: 90%;
    padding-block: 60px;
}
.banner-with-text-title {
    font-family: 'RoundhandWeb', serif;
    font-weight: 500;
    font-size: clamp(27px, calc(44 / var(--clamp-width) * 100vw), 44px);
    line-height: 1;
    text-align: center;
    color: var(--color-dark-2);
    margin-bottom: clamp(32px, calc(50/var(--clamp-width)*100vw), 50px);
}
.banner-with-text-descriptor *,
.banner-with-text-descriptor {
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-dark-2);
}
.banner-with-text-descriptor_margin-bottom {
    margin-bottom: 20px;
}
.banner-with-text-button {
    display: block;
    max-width: 246px;
    width: 100%;
    padding: 0 16px;
    margin-top: clamp(32px, calc(50/var(--clamp-width)*100vw), 50px);
    margin-inline: auto;
}
/*Banner with text*/

/*Card banner*/
.card-banner {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: fit-content;
}
.card-banner__picture {
    display: block;
    aspect-ratio: 1 / 1.4;
    /* сомнительно. перепроверить */
    height: 100%;
    width: 100%;
}
.card-banner__picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-banner__info {
    position: absolute;
    align-self: center;
    text-align: center;
    padding-inline: clamp(10px, calc(16/var(--clamp-width)*100vw), 16px);
}
.card-banner__title {
    font-style: italic;
    font-weight: 500;
    font-size: clamp(25px, calc(35/var(--clamp-width)*100vw), 35px);
    line-height: 1.2;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--color-light-1);
    margin-bottom: 16px;
}
.card-banner__sub-title {
    font-size: clamp(10px, calc(14/var(--clamp-width)*100vw), 14px);
    line-height: 1;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--color-light-1);
}
.card-banner__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.card-banner__link-hidden-text {
    display: inline-block;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/*Card banner*/


/*!*Aspect ration*!*/
/*!* Aspect ratio greater than or equal to 16:9 *!*/
/*@media (min-aspect-ratio: 16/9) {*/
/*    .banner {*/
/*        height: calc(120vh - var(--header-height));*/
/*    }*/
/*}*/
/*!* Aspect ratio less than 16:9 *!*/
/*@media (max-aspect-ratio: 16/9) {*/
/*    .banner {*/
/*        height: calc(50vh - var(--header-height));*/
/*    }*/
/*    .banners-wrapper-col-3 .banner {*/
/*        height: calc(40vh - var(--header-height));*/
/*    }*/
/*    .banner-with-links {*/
/*        height: 599px;*/
/*    }*/
/*}*/

/*!* Aspect ratio between 4:3 and 16:9 *!*/
/*@media (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/9) {*/
/*    .banner {*/
/*        height: calc(100vh - var(--header-height));*/
/*    }*/

/*}*/
/*!*Aspect ration*!*/