.basket-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    margin-bottom: clamp(32px, calc(88/var(--clamp-width)*100vw), 88px);
}
.basket-card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}
.basket-summary {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-self: end;
    position: sticky;
    top: calc(var(--header-height) + 32px);
    max-width: 312px;
}
.basket-summary-note {
    font-style: italic;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-dark-3);
    padding: clamp(20px, calc(28/var(--clamp-width)*100vw), 28px) 0;
}
.basket-summary-list {
    display: flex;
    flex-direction: column;
}
.basket-summary-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-top: 0.5px solid var(--color-dark-3);
    gap: 6px;
}
.basket-summary-list__item:last-child {
    border-bottom: 0.5px solid var(--color-dark-3);
}
.basket-summary-list__item-title {
    font-size: clamp(15px, calc(16/var(--clamp-width)*100vw), 16px);
    line-height: 1;
    color: var(--color-dark-3);
    flex: 1;
}
.basket-summary-list__item-value {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: clamp(15px, calc(16/var(--clamp-width)*100vw), 16px);
}
.basket-summary-price {
    position: relative;
    font-size: clamp(15px, calc(16/var(--clamp-width)*100vw), 16px);
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--color-dark-3);
}
.basket-summary-price_old {
    color: var(--color-gray-1);
    margin-right: 20px;
}
.basket-summary-price_old:before {
    content: "";
    background-color: var(--color-gray-1);
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.basket-summary-option {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    line-height: 1;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--color-dark-3);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.basket-control-mobile {
    display: none;
    position: sticky;
    bottom: 0;
    padding: 10px 0;
    background-color: var(--color-main-bg);
}
.basket-summary__agreements {
    padding: 28px 0;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--color-dark-2);
}
.basket-summary__agreements_mobile {
    display: none;
}
.basket-summary__agreements a {
    text-decoration: underline;
}
.basket-card-list-open {
    position: relative;
    display: none;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 32px);
    height: 52px;
    margin-left: -16px;
    margin-right: -16px;
    background-color: rgba(63, 140, 101, 0.16);
    border-top: 0.5px solid var(--color-dark-3);
    border-bottom:0.5px solid var(--color-dark-3);
    padding: 0 20px;
    cursor: pointer;
}
.basket-card-list-open-title {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    color: var(--color-dark-3);
}
.basket-card-list-open-sum {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: var(--color-dark-3);
}
.basket-card-list .input-count {
    border: 0.65px solid var(--color-gray-1);
}