.cart-sidebar {
    position: fixed;
    top: 0;
    right: -430px;
    bottom: 0;
    width: 430px;
    height: 100vh;
    background-color: var(--color-menu-bg);
    z-index: 12;
    padding: 24px;
    overflow: auto;
    transition: right 0.3s ease;
}
.cart-sidebar::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.cart-sidebar::-webkit-scrollbar {
    width: 4px;
    background-color: #D9D9D9;
}
.cart-sidebar::-webkit-scrollbar-thumb {
    background-color: #95928E;
}
.cart-sidebar.open {
    right: 0;
}
.cart-sidebar_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 37px;
}
.cart-sidebar_head-title {
    font-style: italic;
    font-size: clamp(11px, calc(14/var(--clamp-width)*100vw), 14px);
    line-height: 1;
    letter-spacing: 0.08em;
    color: var(--color-dark-3);
}

.cart-sidebar-card_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 50vh;
    overflow: auto;
    padding-right: 20px;
}
.cart-sidebar-card_list::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.cart-sidebar-card_list::-webkit-scrollbar {
    width: 4px;
    background-color: #D9D9D9;
}
.cart-sidebar-card_list::-webkit-scrollbar-thumb {
    background-color: #95928E;
}

.cart-sidebar-card_list-item:last-child {
    margin-bottom: 16px;
}
.cart-sidebar-card_list-item .card-horizontal {
    gap: 16px;
}
.cart-sidebar-card_list-item .card-horizontal-start {
    width: 117px;
}
.cart-sidebar-control {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.cart-sidebar-total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 52px;
    border-top: 0.5px solid var(--color-dark-3);
    border-bottom: 0.5px solid var(--color-dark-3);
    gap: 6px;
}
.cart-sidebar-total_label {
    font-size: 16px;
    line-height: 1;
    color: var(--color-dark-3);
    flex: 1;
}
.cart-sidebar-total_num {
    position: relative;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--color-dark-3);
}

.cart-sidebar-suggestions {
    padding: 37px 0;
}
.cart-sidebar-suggestions_title {
    font-weight: 400;
    font-size: clamp(14px, calc(17/var(--clamp-width)*100vw), 17px);
    line-height: 1;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-dark-3);
    margin-bottom: 36px;
}
.cart-sidebar-control__link-wrapper {
    text-align: center;
    height: 52px;
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}
.cart-sidebar-control__link {
    font-size: 11px;
    text-decoration-line: underline;
    color: var(--color-dark-3);
}
.cart-sidebar-suggestions_slider {
    padding: 0 22px;
    position: relative;
}
.cart-sidebar-suggestions .card-bottom {
    padding: 18px 0 10px;
}

.cart-sidebar-suggestions {
    --swiper-button-next-prev-width: 9px;
    --swiper-button-next-prev-height: 16px;
    --swiper-navigation-sides-offset: -10px;
    --swiper-navigation-top-offset: 35%;

    --card-colors-padding: 10px;
    --card-title-font-size: 13px;
    --card-descriptor-font-size: 12px;
    --card-price-value-font-size: 14px;
    --card-price-value-old-font-size: 12px;
}