.bread-crumbs {
    width: 100%;
}
.bread-crumbs::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.bread-crumbs::-webkit-scrollbar {
    height: 4px;
    background-color: #D9D9D9;
}
.bread-crumbs::-webkit-scrollbar-thumb {
    background-color: #95928E;
}
.bread-crumbs__list {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
}
.bread-crumbs__list-item {
    display: inline-block;
    font-style: italic;
    font-size: clamp(11px, calc(15/var(--clamp-width)*100vw), 15px);
    line-height: 1;
    letter-spacing: 0.08em;
    color: var(--color-dark-3);
    position: relative;
    white-space: nowrap;
}
.bread-crumbs__list-item:before {
    content: '/';
    display: inline-block;
    font-size: clamp(11px, calc(14/var(--clamp-width)*100vw), 14px);
    margin-right: 0.4em;
    margin-left: 0.4em;
}
.bread-crumbs__list-item:first-child:before {
    display: none;
}
.bread-crumbs__list-item_active {
    text-decoration-line: underline;
}
.bread-crumbs-full-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(50px, calc(80/var(--clamp-width)*100vw), 80px);
    border-top: 0.5px solid var(--color-dark-3);
    padding-inline: 16px;
    text-align: center;
}
.bread-crumbs-top-left {
    padding: 30px var(--header-paddin-inline) 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*bread crumbs back button*/
.bread-crumbs__back {
    font-style: italic;
    font-size: clamp(12px, calc(15/var(--clamp-width)*100vw), 15px);
    line-height: 1;
    letter-spacing: 0.08em;
    color: var(--color-dark-3);
    position: relative;
    display: flex;
    align-items: center;
    padding-inline-start: 1.2em;
}
.bread-crumbs__back:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 5 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 7.84326L1 4.42157L4 0.999877' stroke='%234B4947' stroke-width='0.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    width: 0.5em;
    height: 0.9em;
}
.bread-crumbs__back_mobile {
    display: none;
}
/*bread crumbs back button*/

@media screen and (max-width: 767px) {
    .bread-crumbs-full-width {
        overflow: hidden;
    }
}