button {
    padding: 0;
}
.button {
    border: 1px solid var(--color-dark-3);
    color: var(--color-dark-3);
    background-color: transparent;
    height: var(--button-height);
    width: 100%;
    padding-inline: 22px;
    cursor: pointer;
    transition: background-color .3s ease;
    font-size: var(--button-font-size);
    text-align: center;
    letter-spacing: 0.05em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    background-color: var(--color-dark-3);
    color: var(--color-light-1);
    text-decoration: none;
}
.button-blue {
}
.button-blue:hover {
    color:#accae1;
}

.button.disabled,
button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
.button.disabled:hover,
button:disabled:hover {
    opacity: 0.5;
}


.button_gray {
    border: 1px solid var(--color-dark-3);
    background-color: var(--color-dark-3);
    color: var(--color-light-1);
}
.button_gray:hover {
    background-color: var(--color-gray-1);
    border-color: var(--color-gray-1);
}

/*Button close X*/
.button-close-dark {
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0C13.9629 0 18 4.03714 18 9C18 13.9629 13.9629 18 9 18C4.03714 18 0 13.9629 0 9C0 4.03714 4.03714 0 9 0ZM9 16.7143C13.2533 16.7143 16.7143 13.2542 16.7143 9C16.7143 4.74665 13.2533 1.28571 9 1.28571C4.74665 1.28571 1.28572 4.74665 1.28572 9C1.28572 13.2542 4.74665 16.7143 9 16.7143ZM5.36379 6.27264L8.09115 9L5.36379 11.7274C5.23843 11.8527 5.17576 12.0175 5.17576 12.1822C5.17576 12.3469 5.23844 12.5108 5.36379 12.637C5.48915 12.7623 5.65389 12.825 5.81861 12.825C5.98334 12.825 6.14728 12.7623 6.27342 12.637L8.99996 9.9088L11.7273 12.6362C11.8527 12.7615 12.0174 12.8242 12.1821 12.8242C12.3468 12.8242 12.5108 12.7615 12.6369 12.6362C12.7623 12.5108 12.825 12.3461 12.825 12.1814C12.825 12.0166 12.7623 11.8527 12.6369 11.7265L9.90959 8.99918L12.6369 6.27182C12.7623 6.14646 12.825 5.98172 12.825 5.817C12.825 5.65227 12.7623 5.48833 12.6369 5.36219C12.3862 5.11147 11.9788 5.11147 11.7281 5.36219L8.99992 8.0912L6.27256 5.36384C6.02183 5.11311 5.61444 5.11311 5.36371 5.36384C5.23835 5.48919 5.17568 5.65393 5.17568 5.81865C5.17487 5.98258 5.23763 6.1473 5.36379 6.27264Z' fill='%234B4947'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.button-close-light {
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0C13.9629 0 18 4.03714 18 9C18 13.9629 13.9629 18 9 18C4.03714 18 0 13.9629 0 9C0 4.03714 4.03714 0 9 0ZM9 16.7143C13.2533 16.7143 16.7143 13.2542 16.7143 9C16.7143 4.74665 13.2533 1.28571 9 1.28571C4.74665 1.28571 1.28572 4.74665 1.28572 9C1.28572 13.2542 4.74665 16.7143 9 16.7143ZM5.36379 6.27264L8.09115 9L5.36379 11.7274C5.23843 11.8527 5.17576 12.0175 5.17576 12.1822C5.17576 12.3469 5.23844 12.5108 5.36379 12.637C5.48915 12.7623 5.65389 12.825 5.81861 12.825C5.98334 12.825 6.14728 12.7623 6.27342 12.637L8.99996 9.9088L11.7273 12.6362C11.8527 12.7615 12.0174 12.8242 12.1821 12.8242C12.3468 12.8242 12.5108 12.7615 12.6369 12.6362C12.7623 12.5108 12.825 12.3461 12.825 12.1814C12.825 12.0166 12.7623 11.8527 12.6369 11.7265L9.90959 8.99918L12.6369 6.27182C12.7623 6.14646 12.825 5.98172 12.825 5.817C12.825 5.65227 12.7623 5.48833 12.6369 5.36219C12.3862 5.11147 11.9788 5.11147 11.7281 5.36219L8.99992 8.0912L6.27256 5.36384C6.02183 5.11311 5.61444 5.11311 5.36371 5.36384C5.23835 5.48919 5.17568 5.65393 5.17568 5.81865C5.17487 5.98258 5.23763 6.1473 5.36379 6.27264Z' fill='%23F9F4EC'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
/*Button close X*/
