.header {
    display: grid;
    grid-template-columns: 1fr var(--header-logo-width) 1fr;
    align-items: center;
    height: var(--header-height);
    padding-inline: var(--header-paddin-inline);
    column-gap: var(--header-column-gap);
    z-index: 11;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*background-color: var(--color-menu-bg);*/
    transition: background-color .3s ease;
    color: var(--color-dark-3);
    border-bottom: var(--header-border-width) solid transparent;
}

.header_transparent {
    color: var(--color-light-1);
    background-color: transparent;
}
.header svg *[stroke] {
    stroke: var(--color-dark-2);
}
.header_transparent svg *[stroke] {
    stroke: var(--color-light-1);
}
.header_color-active svg *[stroke] {
    stroke: var(--color-dark-2);
}
.header_color-active {
    background-color: var(--color-menu-bg);
    color: var(--color-dark-2);
    border-bottom-color: var(--color-dark-3);
}

/*Disable hover for mobile*/
@media (hover: hover) and (pointer: fine) {
    .header:hover,
    .header_transparent:hover {
        background-color: var(--color-menu-bg);
        color: var(--color-dark-2);
        border-bottom-color: var(--color-dark-3);
    }
    .header_transparent:hover svg *[stroke] {
        stroke: var(--color-dark-2);
    }
}
/*Disable hover for mobile*/

body.mobile-menu-open {
    overflow: hidden;
}
body.mobile-menu-open .header-burger-button {
    display: none;
}
body.mobile-menu-open .header-menu__item_user_mobile {
    display: none;
}
body.mobile-menu-open .header {
    background-color: var(--color-menu-bg);
    color: var(--color-dark-2);
    border-bottom-color: var(--color-dark-3);
}
body.mobile-menu-open .header svg *[stroke] {
    stroke: var(--color-dark-2);
}


.header-burger-button {
    display: none;
    width: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}
.header__logo-wrapper {
    display: flex;
    z-index: 1;
    grid-area: 1 / 2 / 1 / 2;
}
.header__logo {
    width: 100%;
}
.header-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr var(--header-logo-width) 1fr;
    align-items: center;
    height: var(--header-height);
    padding-inline: var(--header-paddin-inline);
    column-gap: var(--header-column-gap);
}
.header-menu__mobile-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 40px;
    width: 100%;
    margin-bottom: 22px;
    position: relative;
}
.header-menu__mobile-header-title {
    font-size: 13px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    line-height: 1;
}
.header-menu__mobile-button {
    border: none;
    background-color: transparent;
    height: 40px;
    padding: 0;
    text-align: start;
    position: relative;
    cursor: pointer;
    color: var(--color-dark-3);
}
.header-menu__list {
    display: flex;
    justify-content: flex-start;
}
.header-menu__list_end {
    grid-area: 1 / 3 / 1 / 3;
    text-align: end;
}
.header-menu__item {
    flex: 1;
}
.header-menu__item_user {
    flex: initial;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    margin-left: clamp(10px, calc(38/var(--clamp-width)*100vw), 38px);
}
.header-menu__item_user_mobile {
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
}
.header-menu__item_user-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
}
.header-menu__item_user-link:hover {
    text-decoration: none;
}
.header-menu__item_user-link.active svg {
    background-color: var(--color-accent);
}
.header-menu__item_user-link.active svg path {
    stroke: var(--color-light-1) !important;
    color: var(--color-light-1);
}
.header-menu__item_user-link.active svg rect {
    stroke: var(--color-accent) !important;
}
.header-menu__item_user-link-count {
    font-size: 14px;
    line-height: 1;
}
.header-menu__item-drop-menu-wrapper {
    display: inline-block;
}
.header-menu__item-drop-menu-wrapper:hover .header-menu__item-name {
    text-decoration: underline;
}
.header-menu__item-name {
    font-size: clamp(16px, calc(19/var(--clamp-width)*100vw), 19px);
    height: var(--header-height);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.header-menu-mobile-copy {
    display: none;
    flex-direction: column;
    font-size: 11px;
    line-height: 1;
    text-align: right;
    padding: 32px 7px 7px 0;
}



