.product-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    position: relative;
}
.product-section .bread-crumbs__back {
    position: absolute;
    top: calc(var(--header-height) + 20px);
    left: 10px;
    z-index: 2;
}

.product-pictures-wrapper {
    width: 100%;
}
.product-pictures-wrapper .swiper-button-prev,
.product-pictures-wrapper .swiper-button-next {
    display: none;
}
.product-pictures-wrapper .swiper-pagination {
    /*display: none;*/
}
.product-pictures-wrapper a[data-fancybox] {
    cursor: url("../../images/icons/zoom-lens.svg") 4 4, pointer;
}
.product-picture-full-img-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.product-picture__img {
    width: 100%;
}

.product-info-body {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: clamp(18px, calc(30/var(--clamp-width)*100vw), 30px);
    position: sticky;
    top: calc(var(--header-height) + 32px);
    align-self: start;
    width: 400px;

    margin-bottom: 60px;
    overflow: auto;
    padding-inline-end: 4px;
    padding-bottom: 16px;
}

.product-info {
    margin-top: clamp(18px, calc(30/var(--clamp-width)*100vw), 30px);
    margin-left: 14%;
    /*position: sticky;
    top: calc(var(--header-height) + 32px);*/
    /*height: calc(100vh - (var(--header-height) + 32px));*/
}
.product-info .bread-crumbs__list {
    padding-right: 20px;
}
.product-info::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.product-info::-webkit-scrollbar {
    width: 4px;
    background-color: #D9D9D9;
}
.product-info::-webkit-scrollbar-thumb {
    background-color: #95928E;
}
.product-title {
    font-size: clamp(21px, calc(38/var(--clamp-width)*100vw), 38px);
    line-height: 1.2;
    letter-spacing: 0.01em;
    font-weight: 400;
    color: var(--color-dark-3);
}
.product-price-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
}
.product-price {
    font-size: clamp(17px, calc(25/var(--clamp-width)*100vw), 25px);
    line-height: 1;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: var(--color-dark-3);
    position: relative;
}
.product-price_old {
    color: var(--color-gray-1);
}
.product-price_old:before {
    content: "";
    background-color: var(--color-gray-1);
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.product-color-title {
    font-style: italic;
    font-size: clamp(11px, calc(12/var(--clamp-width)*100vw), 12px);
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--color-dark-3);
    margin-bottom: 14px;
}
.product-size-title {
    width: 100%;
    font-style: italic;
    font-size: clamp(12px, calc(12/var(--clamp-width)*100vw), 14px);
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--color-dark-3);
    margin-bottom: 0px;
}
.product-color {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
}

.product-size-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}
.product-size {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    flex: 1;
}
.product-size-guide-button {
    font-size: clamp(11px, calc(10/var(--clamp-width)*100vw), 10px);
    line-height: 1;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--color-dark-3);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
}
.product-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-more-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-mobile-button-wrapper {
    display: none;
    position: sticky;
    bottom: 0;
    padding: 5px 10px;
    width: 100%;
    background-color: var(--color-main-bg);
}

/*Product popup*/
.product-popup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: var(--product-popup-button-height);
    width: var(--product-popup-button-height);
    /*overflow: hidden;*/
}
.product-popup.open {
    overflow: visible;
}
.product-popup__button {
    height: var(--product-popup-button-height);
    width: var(--product-popup-button-height);
    border-radius: 50%;
    border: 1px solid var(--color-royal-paper);
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: scale .3s ease;
}
.product-popup__button:hover {
    scale: 1.1;
}
.open .product-popup__button {
    scale: 0.8;
}
.product-popup__button:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7401 4.02066H10.36V3.75388C10.36 2.13517 9.0769 0.818359 7.5 0.818359C5.9231 0.818359 4.63997 2.13517 4.63997 3.75388V4.02066H1.25992C1.11644 4.02066 1 4.14017 1 4.28745V17.097C1 17.2445 1.11644 17.3638 1.25992 17.3638H13.7401C13.8836 17.3638 14 17.2443 14 17.097V4.28745C14 4.14017 13.8836 4.02066 13.7401 4.02066ZM5.15999 3.75388C5.15999 2.42953 6.20971 1.35211 7.5 1.35211C8.79029 1.35211 9.84001 2.42953 9.84001 3.75388V4.02066H5.15999V3.75388ZM13.48 16.8302H1.52002V4.55441H4.63997V7.48993C4.63997 7.63739 4.75641 7.75672 4.89989 7.75672C5.04338 7.75672 5.15981 7.63721 5.15981 7.48993V4.55441H9.83983V7.48993C9.83983 7.63739 9.95626 7.75672 10.0997 7.75672C10.2432 7.75672 10.3597 7.63721 10.3597 7.48993V4.55441H13.4796V16.8302H13.48Z' fill='%23F9F4EC' stroke='%23F9F4EC' stroke-width='0.3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 18px;
    display: block;
}
.product-popup__box {
    width: 274px;
    max-height: 452px;
    background-color: var(--color-main-bg);
    opacity: 0;
    transform: translateY(10px);
    transition: visibility .3s ease,opacity .3s ease,transform .3s ease;
    visibility: hidden;
    position: absolute;
    bottom: 62px;
    right: 46px;
    padding: 8px;
    overflow: auto;
}
.product-popup__box::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.product-popup__box::-webkit-scrollbar {
    width: 4px;
    background-color: #D9D9D9;
}
.product-popup__box::-webkit-scrollbar-thumb {
    background-color: #95928E;
}
.product-popup__box.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
.product-popup__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product-popup__list-item {
    display: flex;
    gap: 10px;
    position: relative;
}
.product-popup__picture {
    position: relative;
    aspect-ratio: 1 / 1.4;
    width: 100px;
}
.product-popup__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-popup__info {
    flex: 1;
}
.product-popup__info-title {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--color-dark-3);
    margin-bottom: 10px;
    font-weight: 400;
}
.product-popup__info-price-color {
    display: flex;
    gap: 16px;
}
.product-popup-price {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--color-dark-3);
}
.product-popup-colors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    line-height: 10px;
    flex:1;
}
.product-popup-colors-list_item {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.product-popup__link {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
.product-popup__link:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7401 4.02066H10.36V3.75388C10.36 2.13517 9.0769 0.818359 7.5 0.818359C5.9231 0.818359 4.63997 2.13517 4.63997 3.75388V4.02066H1.25992C1.11644 4.02066 1 4.14017 1 4.28745V17.097C1 17.2445 1.11644 17.3638 1.25992 17.3638H13.7401C13.8836 17.3638 14 17.2443 14 17.097V4.28745C14 4.14017 13.8836 4.02066 13.7401 4.02066ZM5.15999 3.75388C5.15999 2.42953 6.20971 1.35211 7.5 1.35211C8.79029 1.35211 9.84001 2.42953 9.84001 3.75388V4.02066H5.15999V3.75388ZM13.48 16.8302H1.52002V4.55441H4.63997V7.48993C4.63997 7.63739 4.75641 7.75672 4.89989 7.75672C5.04338 7.75672 5.15981 7.63721 5.15981 7.48993V4.55441H9.83983V7.48993C9.83983 7.63739 9.95626 7.75672 10.0997 7.75672C10.2432 7.75672 10.3597 7.63721 10.3597 7.48993V4.55441H13.4796V16.8302H13.48Z' fill='%23F9F4EC' stroke='%23F9F4EC' stroke-width='0.3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 9px;
    height: 12px;
    display: block;
}
/*Product popup*/

.product-section {
    --swiper-navigation-top-offset: calc(50% - 22px);
}

/*Swiper slider desktop disabled*/
@media (min-width: 767px) {
    /*.product-pictures-wrapper .swiper-wrapper {
        display: block;
    }
    .product-pictures-wrapper .swiper-slide {
        height: auto;
    }*/
}
@media (max-width: 767px) {
    .product-info {
        margin-top: 0;
    }
    .product-info-body {
        margin-top: 0px;
    }
}


