.section-title {
    font-size: clamp(17px, calc(22/var(--clamp-width)*100vw), 22px);
    padding-block: clamp(25px, calc(45/var(--clamp-width)*100vw), 45px);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-dark-3);
}
.section-title_border-top {
    border-top: 0.5px solid var(--color-dark-3);
}
.section-button-wrapper {
    padding-block: clamp(28px, calc(45/var(--clamp-width)*100vw), 45px);
    text-align: center;
}
.section-button-wrapper .button {
    width: auto;
    padding-inline: clamp(25px, calc(50/var(--clamp-width)*100vw), 50px);
    min-width: 320px;
    margin: auto;
}