table {
    border-collapse: collapse;
    border-bottom: 0.5px solid var(--color-gray-1);
    font-size: 16px;
    color: var(--color-dark-3);
    width: 100%;
}

th {
    border-top: 0.5px solid var(--color-gray-1);
    padding: 16px 10px;
}
th {
    font-weight: 400;
}

td {
    border-top: 0.5px solid var(--color-gray-1);
    padding: 10px;
}


/*size guide table*/
.size-guide-table {
    overflow: auto;
    margin-bottom: 10px;
}
.size-guide-table table {
    margin-bottom: clamp(26px, calc(24 / var(--clamp-width)* 100vw), 24px);
}
.size-guide-table th {
    padding: 16px 24px;
    font-size: clamp(11px, calc(16/var(--clamp-width)*100vw), 16px);;
}
.size-guide-table th:last-child {
    padding: 14px 14px 14px 24px;
}
.size-guide-table td:first-child {
    text-transform: uppercase;
    padding: 8px 28px;
}
.size-guide-button {
    font-size: 12px;
    line-height: 1;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--color-dark-3);
    background-color: transparent;
    border: none;
    padding: 1em 0 1em 2.6em;
    position: relative;
    width: fit-content;
    margin: 0 auto 32px;
}
.size-guide-button:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='23' viewBox='0 0 22 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.6548 2.62101C21.5795 2.62162 21.5076 2.65187 21.4544 2.70522C21.4012 2.75857 21.371 2.83076 21.3704 2.90621C21.3704 5.23966 18.4283 7.26198 14.2736 8.11994V3.3564C14.2501 1.47078 11.4724 0 7.88877 0C3.47322 0 0 1.81255 0 4.12007V17.9299C0 20.096 2.61079 21.9368 6.31431 22.6675C6.35718 22.6936 6.40537 22.7097 6.45531 22.7146H6.50466C7.58489 22.9094 8.6806 23.0048 9.77813 22.9998C16.4966 22.9998 21.9979 20.1902 21.9979 16.7631V2.95335C22.0237 2.76243 21.8099 2.62101 21.643 2.62101H21.6548ZM13.6649 8.26136C12.387 8.48538 11.0919 8.59737 9.79458 8.59606C8.35445 8.59895 6.91949 8.4232 5.52238 8.0728L5.49888 5.02517C6.23441 5.66628 7.54098 6.09526 9.08255 6.09526C11.1012 6.09526 12.7861 5.52486 13.6414 4.6669L13.6649 8.26136ZM10.4996 3.50018C10.4996 3.80895 9.83453 4.20728 8.8123 4.20728C8.02977 4.20728 7.50808 3.89851 7.50808 3.70759C7.50808 3.61331 7.86293 3.35168 8.48096 3.35168C8.66381 3.34882 8.84648 3.36462 9.02615 3.39882C8.95565 3.39882 8.8358 3.42239 8.69481 3.42239C8.61977 3.42361 8.54815 3.45405 8.49508 3.50727C8.44202 3.56049 8.41167 3.63233 8.41046 3.70759C8.41324 3.78302 8.44388 3.85471 8.49644 3.90873C8.54899 3.96275 8.6197 3.99524 8.69481 3.99987C9.43034 3.99987 9.78518 3.80895 9.78518 3.4059C9.78518 3.14427 9.62069 2.71529 8.45746 2.71529C7.53158 2.71529 6.89005 3.1207 6.89005 3.6581C6.89005 4.29921 7.69608 4.75175 8.78881 4.75175C9.38625 4.76703 9.97665 4.61959 10.4972 4.32513V5.32451C10.0263 5.40099 9.55018 5.4404 9.07315 5.44236C6.9582 5.44236 5.48948 4.56084 5.48948 3.79245C5.51298 3.22205 6.66445 2.53144 8.30941 2.53144C9.59249 2.53144 10.4925 3.03113 10.4925 3.47425L10.4996 3.50018ZM7.88877 0.596326C11.0213 0.596326 13.6555 1.85969 13.6555 3.35875C13.6555 4.16721 12.6122 4.90732 11.1153 5.26323L11.0918 3.50018V3.37997C10.9978 2.54794 9.83453 1.95161 8.31646 1.95161C6.41536 1.95161 4.89729 2.76007 4.89729 3.83723L4.92079 7.88423C2.357 7.1017 0.599237 5.69456 0.599237 4.113C0.599237 2.20853 3.92441 0.589255 7.88407 0.589255L7.88877 0.596326ZM20.3012 19.0942V15.4998C20.3006 15.4243 20.2704 15.3521 20.2172 15.2988C20.164 15.2454 20.0921 15.2152 20.0169 15.2146C19.9391 15.2143 19.8642 15.2436 19.8071 15.2965C19.75 15.3494 19.7149 15.422 19.709 15.4998V19.6434C19.2237 20.02 18.7072 20.3543 18.1651 20.6428V18.4295C18.1639 18.3543 18.1335 18.2824 18.0805 18.2292C18.0274 18.176 17.9558 18.1456 17.8808 18.1444C17.8029 18.1436 17.7276 18.1726 17.6704 18.2257C17.6132 18.2787 17.5783 18.3516 17.5729 18.4295V20.928C17.0234 21.1663 16.4608 21.3733 15.888 21.5479V17.5245C15.8868 17.4488 15.8561 17.3766 15.8025 17.3233C15.749 17.27 15.6767 17.2399 15.6013 17.2393C15.5275 17.2442 15.458 17.2759 15.4057 17.3283C15.3535 17.3808 15.3219 17.4504 15.317 17.5245V21.6422C15.3152 21.6553 15.3164 21.6687 15.3205 21.6814C15.3246 21.694 15.3314 21.7056 15.3405 21.7152C14.7937 21.8678 14.2391 21.9905 13.679 22.0829V19.4902C13.6806 19.4517 13.6745 19.4132 13.6609 19.3771C13.6473 19.341 13.6267 19.308 13.6002 19.2801C13.5736 19.2521 13.5418 19.2298 13.5065 19.2145C13.4712 19.1992 13.4332 19.1912 13.3947 19.1909C13.3143 19.1895 13.2361 19.2178 13.1751 19.2704C13.114 19.3229 13.0743 19.3961 13.0634 19.4761V22.0947C13.0618 22.1075 13.0631 22.1205 13.0672 22.1327C13.0713 22.1449 13.078 22.1561 13.0869 22.1654C12.5158 22.2597 11.9119 22.3092 11.2821 22.3563V18.3117C11.2815 18.2362 11.2513 18.1641 11.1981 18.1107C11.1449 18.0574 11.073 18.0271 10.9978 18.0265C10.9222 18.0206 10.8473 18.0447 10.7893 18.0936C10.7313 18.1426 10.6947 18.2124 10.6876 18.2881V22.3846C10.4032 22.3846 10.0954 22.4082 9.78518 22.4082C9.52434 22.4082 9.28699 22.4082 9.02615 22.3846V19.9993C9.022 19.9261 8.99036 19.8572 8.9376 19.8065C8.88484 19.7558 8.81488 19.727 8.74181 19.7259C8.67044 19.7315 8.60324 19.7618 8.55178 19.8117C8.50031 19.8616 8.46779 19.928 8.45981 19.9993V22.3328C7.89112 22.2856 7.32009 22.2149 6.7749 22.1183V18.2858C6.77369 18.2105 6.74334 18.1387 6.69028 18.0854C6.63721 18.0322 6.56559 18.0018 6.49056 18.0006C6.41258 18.0003 6.33736 18.0295 6.27987 18.0823C6.22239 18.1352 6.18686 18.2078 6.18036 18.2858V22.024C5.61842 21.905 5.06372 21.7539 4.51895 21.5715V19.1909C4.51864 19.1531 4.51092 19.1158 4.49623 19.081C4.48154 19.0462 4.46016 19.0147 4.43332 18.9882C4.40648 18.9617 4.3747 18.9408 4.3398 18.9267C4.3049 18.9125 4.26756 18.9054 4.22991 18.9057C4.15612 18.9106 4.08664 18.9423 4.03435 18.9947C3.98206 19.0472 3.95052 19.1169 3.94556 19.1909V21.357C3.42939 21.1569 2.93619 20.9016 2.4745 20.5957V16.4261C2.47327 16.3504 2.4426 16.2782 2.38903 16.2249C2.33546 16.1717 2.26325 16.1415 2.1878 16.1409C2.11444 16.1464 2.04552 16.1783 1.99372 16.2307C1.94191 16.2831 1.9107 16.3525 1.90581 16.4261V20.1431C1.09978 19.4761 0.646236 18.7289 0.646236 17.9275V5.8572C2.02565 7.78524 5.63987 9.19003 9.86978 9.19003C15.2747 9.19003 19.8618 7.37983 21.4527 4.85782V16.7372C21.3531 17.6306 20.9508 18.4627 20.3129 19.0942H20.3012Z' fill='%234B4947'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    width: 2em;
    height: 2em;
}
/*size guide table*/


/*size measuring table*/
.size-measuring-table {
    overflow: auto;
    margin-bottom: 10px;
}
.size-measuring-table table {
    margin-bottom: clamp(26px, calc(24 / var(--clamp-width)* 100vw), 24px);
}
.size-measuring-table th:nth-child(1),
.size-measuring-table th:nth-child(2) {
    font-size: 13px;
}
.size-measuring-table td {
    min-width: 100px;
}
.size-measuring-table td:first-child {
    font-size: 13px;
    width: 30%;
    text-align: start;
}
.size-measuring-table td img {
    max-width: 120px;
    margin: auto;
}
.size-measuring-button {
    font-size: 12px;
    line-height: 1;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--color-dark-3);
    background-color: transparent;
    border: none;
    padding: 1em;
    cursor: pointer;
    position: relative;
}
/*size measuring table*/

@media screen and (max-width: 767px) {
    .table {
        width: 100%;
        overflow-x: auto;
    }
}