.tabs__header {
    overflow-x: auto;
    margin-bottom: 30px;
    padding-block-end: 13px;
}
.tabs__header::-webkit-scrollbar-track {
    background-color: #D9D9D9;
}
.tabs__header::-webkit-scrollbar {
    height: 4px;
    background-color: #D9D9D9;
}
.tabs__header::-webkit-scrollbar-thumb {
    background-color: #95928E;
}
.tabs__header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.tabs__header-button {
    height: 32px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-dark-3);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}
.tabs__header-button.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-dark-3);
    position: absolute;
    bottom: -5px;
}
.tabs__body-content {
    display: none;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--color-dark-3);
    min-height: 100px;
}
.tabs__body-content.active {
    display: block;
}
.tabs__body-content ul:last-child {
    margin-bottom: 0;
}

@media (max-width: 390px) {
    .tabs__header-list {
        gap: 10px;
    }
    .tabs__header-list .tabs__header-button{
        font-size: 11px;
    }
}
