.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(40px, calc(50/var(--clamp-width)*100vw), 50px);
    background-color: var(--color-menu-bg);
}
.text-section_border-bottom {
    border-bottom: 0.5px solid var(--color-dark-3);
}
.text-section-wrapper {
    text-align: center;
    max-width: 800px;
}
.text-section-title {
    font-family: 'RoundhandWeb', serif;
    font-size: clamp(27px, calc(44/var(--clamp-width)*100vw), 44px);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.06em;
}
.text-section-descriptor *,
.text-section-descriptor {
    margin-top: clamp(32px, calc(54/var(--clamp-width)*100vw), 54px);
    font-size: 15px;
    letter-spacing: 0.05em;
}
.text-section-descriptor_margin-bottom {
    margin-bottom: 20px;
}


/*Main page*/
.text-section_main-page {
    padding-block: clamp(58px, calc(90/var(--clamp-width)*100vw), 90px);
    padding-inline: clamp(20px, calc(60/var(--clamp-width)*100vw), 60px);
}
.text-section-wrapper_main-page {
    width: 100%;
}
.text-section-title_main-page {
    font-size: clamp(22px, calc(38/var(--clamp-width)*100vw), 38px);
    margin-bottom: clamp(58px, calc(86/var(--clamp-width)*100vw), 86px);
    letter-spacing: 0.01em;
    line-height: 1.1;
}
.text-section-descriptor_main-page *,
.text-section-descriptor_main-page {
    font-size: clamp(17px, calc(28/var(--clamp-width)*100vw), 20px);
    letter-spacing: normal;
}
/*Main page*/


/* forall text-pages */
.text-section-wrapper_text {
    max-width: 950px;
    width: 100%;
}
.text-content-area {
    font-size: clamp(14px, calc(28/var(--clamp-width)*100vw), 16px);
    letter-spacing: normal;
}
.text-content-area img {
    display: inline-block;
}
.text-section+.page-text-content {
    padding: 0 clamp(10px, calc(50/var(--clamp-width)*100vw), 50px) clamp(40px, calc(50/var(--clamp-width)*100vw), 50px);
}


.ul-list li {
    position: relative;
    margin-bottom: clamp(20px, calc(42/var(--clamp-width)*100vw), 24px);
    font-size: clamp(16px, calc(18/var(--clamp-width)*100vw), 18px);
    padding-left: 1em;
}
.ul-list li:before {
    content: '';
    width: 0.4em;
    height: 0.4em;
    position: absolute;
    border-radius: 50%;
    top: 0.4em;
    left: 0;
    background-color: var(--color-accent);
}
.ul-list li:last-child {
    margin-bottom: 0;
}
.ul-list li a {
    text-decoration: underline;
}