@import url('variables.css');
@import url('normalize.css');
@import url('fonts.css');
@import url('globals.css');

@import url('elements/modal.css');
@import url('elements/table.css');
@import url('elements/tabs.css?v1.0.2');
@import url('elements/buttons.css');
@import url('elements/bread-crumbs.css');
@import url('elements/added-toaster.css');
@import url('elements/dropdown.css');
@import url('elements/basket-sidebar.css');
@import url('elements/basket.css');
@import url('elements/basket-order.css');
@import url('elements/forms.css?v1.0.2');
@import url('elements/slider.css');
@import url('elements/grid.css');
@import url('elements/header.css?v1.0.4');
@import url('elements/footer.css');
@import url('elements/catalog-toolbar.css');
@import url('elements/product.css?v1.0.2');
@import url('elements/card.css?v1.0.2');
@import url('elements/card-horizontal.css');
@import url('elements/club-form.css');
@import url('elements/inspired-by.css');
@import url('elements/menu-drop.css');
@import url('elements/section.css');
@import url('elements/text-section.css');
@import url('elements/banners.css');
@import url('elements/error.css');
@import url('elements/faq.css');

/*custom style*/
@import url('elements/section-with-picture.css');
@import url('elements/custom-pictures-grid.css');
@import url('elements/picture-logo.css');
@import url('elements/picture-big-icon.css');

@import url('utils.css?v1.0.2');
@import url('media.css?v1.0.2');


